*.tfstate
*terraform.tfvars
*terraform.tfstate
*terraform.tfstate.backup
*mykey*
*.tfstate.*
*.retry
*.terraform/plugins*
*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/mykey*